<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
  <table>
    <tr>
    <th></th></tr>

    <tr th:each="account : ${accounts}" th:style ="${account.isKing()} ? 'color:red' : 'color:black'">
      <td th:text ="${accountStat.index}">
      <td th:text ="${account.getName()}">
      <td th:text ="${account.getBalance()}">
      <td th:text ="${account.getAnimalType()}">
        <td>
      <div th:switch ="${account.isGoodGuy()}">
        <p th:case ="true">Good guy</p>
        <p th:case ="false">Bad guy</p>
      </div>
      </td>
  </tr>
</table>
<form th:action = "@{/raise}" method="post">
  <label>Raise the balance of a selected animal:</label>
  <select name="animalIndex" >
      <option th:each="account : ${accounts}" th:text="${account.name}" th:value="${accountStat.index}"></option>
  </select>
  <input type="submit" value="Raise Balance">
</form>
</body>
</html>
