<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Add new todo</title>
</head>
<body>
<div>
    <form th:action="@{/todo/add}" th:method="post" th:object="${todo}">
        <input type="text" th:field="*{title}" id="titleInput" name="titleInput" placeholder="title">
        <select name="urgent" id="urgent" th:field="*{urgent}" th:name="urgent">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
        <button type="submit">Add</button>
    </form>
</div>
</body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</html>