<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Assign</title>
</head>
<body>
<form th:action="@{/todo/assignee}" th:method="post">
    <input type="text" th:name="name" placeholder="your name">
    <input type="email" th:name="email" placeholder="your e-mail address">
    <button type="submit">Add an assignee</button>
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="assignee : ${assigneeList}">
        <td><a th:href="@{'/todo/' + ${assignee.getId()} + '/assigneestodos'}" th:text="${assignee.getName()}"></td>
        <td th:text="${assignee.getEmail()}"></td>
        <td><a th:href="@{'/todo/' + ${assignee.id} + '/editassignee'}">edit</a></td>
        <td><a th:href="@{'/todo/' + ${assignee.id} + '/deleteassignee'}">delete</a></td>
    </tr>
</table>
</body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</html>