<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Edit Assignee</title>
</head>
<body>
<p th:text="${assignee.name}"></p>
<form th:action="@{'/todo/' + ${assignee.getId()} + '/editassignee'}" th:method="post" th:object="${assignee}">
    <input type="text" th:field="*{name}" th:value="*{name}">
    <input type="text" th:field="*{email}" th:value="*{email}">
    <button type="submit">edit</button>
</form>
</body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</html>