<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/indexCSS.css">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Todos for today</h1>
<a th:href="@{/todo/assignee}" class="p-3 mb-2 bg-warning text-dark">Assignee</a>
<a th:href="@{/todo/add}" class="p-3 mb-2 bg-warning text-dark">Add new todos!</a>
<form th:action="@{/todo/search}" th:method="post" >
    <input type="text" th:name="search">
    <button type="submit">search</button>
</form>
<table class="table-dark table-striped">
    <tr>
        <th>Title</th>
        <th>Id</th>
        <th>Urgent</th>
        <th>Done</th>
        <th>Assignee</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td  th:text="${todo.getTitle()}"></td>
        <td  th:text="${todo.getId()}"></td>
        <td  th:text="${todo.isUrgent()}"></td>
        <td  th:text="${todo.isDone()}"></td>
        <td><a class="text-secondary" th:if="${todo.assignee != null}" th:href="@{'/todo/' + ${todo.assignee.getId()} + '/assigneestodos'}" th:text="${todo.assignee.getName()}"></a> </td>
        <td><a class="text-warning" th:href="@{'/todo/' + ${todo.id} + '/delete'}">delete</a></td>
        <td><a class="text-warning" th:href="@{'/todo/' + ${todo.id} + '/edit'}">edit</a></td>
    </tr>
</table>

</body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</html>