<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<label>New Fox</label>
<form th:action="@{/create}" th:method="post" th:object="${fox}">
    <input type="text" th:field="*{name}" required placeholder="name" oninvalid="this.setCustomValidity('Please add a name')">
    <input type="text" th:field="*{food}" required placeholder="food" oninvalid="this.setCustomValidity('Please add a food')">
    <input type="text" th:field="*{drink}" required placeholder="drink" oninvalid="this.setCustomValidity('Please add a drink')">
    <button type="submit">Create</button>
</form>
<a th:href="@{/login}">Login</a>
</body>
</html>