<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<a th:href="@{/nutritionstore/(name=${fox.name})}">Nutrition Store</a>
<img src="https://github.com/green-fox-academy/teaching-materials/blob/master/project/programmer-fox-club/assets/greenfox.png?raw=true" alt="green fox">
<p th:text="|This is ${fox.name} currently living on ${fox.food} and ${fox.drink}. He knows ${tricks} tricks.|"></p>
<table>
    <tr>
        <th>Known tricks</th>
    </tr>
    <tr>
        <td th:if="${fox.tricks.size() == 0}">No tricks</td>
        <td th:unless="${fox.tricks.size() == 0}">
            <td th:each="trick : ${tricks}"></td>
        </td>
    </tr>
</table>
</body>
</html>